<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeek.gmall.manager.mapper.BaseAttrMapper">

    <select id="selectListByAttrValueIds" parameterType="collection" resultMap="baseAttrInfoMap">
        SELECT
            ai.id AS ai_id,
            attr_name,
            catalog3_id,
            av.id AS av_id,
            value_name,
            attr_id
        FROM
            pms_base_attr_info ai
        JOIN pms_base_attr_value av ON ai.id = av.attr_id
        WHERE
            av.id IN
            <foreach collection="collection" open="(" close=")" item="valueId" separator=",">
                #{valueId}
            </foreach>
    </select>
    <resultMap id="baseAttrInfoMap" type="com.igeek.gmall.pojo.PmsBaseAttrInfo" autoMapping="true">
        <result column="ai_id" property="id"></result>
        <collection property="attrValueList" ofType="com.igeek.gmall.pojo.PmsBaseAttrValue" autoMapping="true">
            <result column="av_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>