<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeek.gmall.manager.mapper.ProductSaleAttrMapper">

    <select id="spuSaleAttrListCheckBySku" parameterType="map" resultMap="spuSaleAttrListCheckBySkuMap">
        select sa.id as sa_id,sa.*,sav.id as sav_id, sav.*,if(ssav.sku_id,1,0) as isChecked
        from pms_product_sale_attr sa INNER JOIN pms_product_sale_attr_value sav
        ON sa.id = sav.sale_attr_id LEFT JOIN pms_sku_sale_attr_value ssav ON ssav.sale_attr_value_id=sav.id
        and ssav.sku_id = #{skuId}
        and sa.product_id = #{spuId}
    </select>
    <resultMap id="spuSaleAttrListCheckBySkuMap" type="com.igeek.gmall.pojo.PmsProductSaleAttr" autoMapping="true">
        <result column="sa_id" property="id"></result>
        <collection property="spuSaleAttrValueList" ofType="com.igeek.gmall.pojo.PmsProductSaleAttrValue" autoMapping="true">
            <result column="sav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>